**/codeMasterEngine/src/main/resources/temp
**/codeMasterEngine/src/main/resources/application.properties
**/codeMasterEngine/src/main/resources/application.yml

**/codeMasterAPI/src/main/resources/application.properties
**/codeMasterAPI/src/main/resources/application.yml